body {background-color: pink;}
.titulo {background-color: lightblue; text-align: center;}
.tituloblanco {background-color: white; }
.titulovioleta {background-color: violet; }
.parrafovioleta {background-color: violet; }
.titulo {font-style: oblique; }
.parrafodos {font-size: 20px; }
 .titulo {color: white; }
 .titulo {text-decoration: underline;}
 .titulo {text-decoration-color: pink;}
 .parrafotres {text-align: center;}
 .titulovioleta {text-align: center;}
 .titulovioleta {background-color: violet;}
 .titulovioleta {font-size: 20px;}
 .parrafocuatro {font-size: 20px;}
 .imagenramen {max-width: 600px; }
